<ion-view title="Automatic Cinema Remote">
  <ion-content class="has-header">



	<div class="list">

	  <div class="item item-text-wrap">
		<a class="button button-block button-positive" href="#/app/target">
		  Start
		</a>
	  </div>

	  <div class="item item-divider">
		  The Software
	  </div>
	  <div class="item item-text-wrap">
		  <p>Automatic Cinema is a project by Urs Hofer. It consists of a database, a playback control server, various clients to show the media, this remote control app.</p>	  
	  </div>	  
	  <div class="item item-divider">
		  Geometrical Storytelling
	  </div>
	  <div class="item item-text-wrap">
		  <p>Automatic Cinema uses a algorithms to decide which media fits the best after the currently playing This technique is called «Geometrical Storytelling».</p>	  
	  </div>
	  <div class="item item-divider">
		  Dynamic Datastructure
	  </div>
	  <div class="item item-text-wrap">
		  <p>To organize your assets, you can define as many semantical dimensions. Each dimension contains it's own logic where Keywords are linked not only in a hypertextual way, but more in a linguistic. Keywords can relate, oppose or depict a consequence.</p>	  
	  </div>	  	  
	  <div class="item item-divider">
		  Multi Channel
	  </div>
	  <div class="item item-text-wrap">
		  <p>Automatic Cinema can control as many channels as you like. Text, Audio or Video. Channels can be set to master, where they follow their own timeline. Set to slave, they follow the masters rhythm.</p>	  
	  </div>	  	  

	  <div class="item item-divider">
	    Credits
	  </div>
	  <div class="item">
		  <p>Rokfor</p>
		  <p>GStreamer</p>	  
		  <p>Paper.js</p>	  
		  <p>IonicFramework</p>	  
	  </div>	  
  </div>

  </ion-content>
  
</ion-view>